aws_cdk_lib>=2.45.0
black
boto3>=1.17.49
requests==2.31.0
crhelper>=2.0.6
Click
moto
pipenv
cdk-nag==2.18.*
poetry
pytest
pytest-cov>=2.11.1
pytest-mock>=3.5.1
tox
tox-pyenv
-e helpers_cdk
-e helpers_common